@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form action="Save" method="post">
    Name <input type="type" name="name" value="" />
    Price <input type="number" name="price" value="" />
    <input type="submit" value="Submit" />
</form>
